@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: #00c8ff;

    --color-active: #1bb89b;
    --color-primary: #b2d1d2;
    --color-background: #f6f6f6;
    --color-highlighted: #6b8776;
    --color-promo: #505b58;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    height: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
