.wrapper {
    width: 255px;
    align-items: center;
    background-color: #f4f5f7;
    color: #606266;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 21px;
}

.sidebar-overlay {
    width: 100%;
    color: #606266;
    display: flex;
    flex-direction: column;
    flex-basis: 0%;
    margin: 16px 0px 0px;
}

li {
    width: 80%;
    height: 36px;
    align-items: center;
    border-radius: 4px;
    color: #6b6e72;
    display: flex;
    margin: 5px 25.5px;
    padding: 0px 10.2px;
    text-align: left;
}
li.active {
    background-color: #ffffff;
    margin: 12px 25.5px 5px;
}
